<!doctype html>
<html lang="">
  <head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-30110292-7', 'auto');
      ga('send', 'pageview');
    </script>
    <!--
    =============================================

       /$$$$$$$$ /$$$$$$$  /$$$$$$$$ /$$$$$$$$
      | $$_____/| $$__  $$| $$_____/| $$_____/
      | $$      | $$  \ $$| $$      | $$
      | $$$$$   | $$$$$$$/| $$$$$   | $$$$$
      | $$__/   | $$__  $$| $$__/   | $$__/
      | $$      | $$  \ $$| $$      | $$
      | $$      | $$  | $$| $$$$$$$$| $$$$$$$$
      |__/      |__/  |__/|________/|________/

    =============================================
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Four Song EP on Triple B Records. Coming May 15th, 2017.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>FREE | Ex Tenebris</title>

    <meta name="msapplication-tap-highlight" content="no">

    <meta property="og:title" content="FREE | Ex Tenebris">
    <meta property="og:site_name" content="FREE | Ex Tenebris">
    <meta property="og:url" content="https://extenebr.is/">
    <meta property="og:description" content="Four Song EP on Triple B Records. Coming May 15th, 2017.">
    <meta property="og:image" content="/images/share-image.jpg">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body class="site-body">
    <header class="site-header z-1 relative js-site-header">

      <a target="_blank" href="http://www.triple-brecords.com/"><img src="/images/triple-b-logo.jpg" alt="Triple B Records" class="center-h triple-b-logo animate-this js-on-init"/></a>

      <div class="site-header__content animate-this js-on-init">
        <div class="center-h center-v fluid-width">
          <div class="free center-h"><%- include('includes/free'); %></div>
          <div class="ex-tenebris"><%- include('includes/ex-tenebris'); %></div>
          <div class="center-h player">
            <iframe class="js-player animate-this" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=182680540/size=large/bgcol=333333/linkcol=ffffff/artwork=small/transparent=true/tracklist=false/tracks=2343721795/transparent=true/esig=d37e1175d668347c0340fc1bf12e4356/campaign=equity-head-premiere/" seamless><a href="http://freehc.bandcamp.com/album/ex-tenebris">Ex Tenebris by FREE</a></iframe>
          </div>
        </div>
      </div>

      <div class="order-link">

        <a class="button center-h js-lyrics-link animate-this js-on-init" target="_blank" href="">
          <div class="flex-wrapper">
            <span class="text">LYRICS</span>
          </div>
        </a>

      </div>
    </header>

    <main class="site-content z-2 relative fluid-width center-h">
      <section class="song js-first-track">
        <h2 class="title">
          <%- include('includes/title-equity-head'); %>
        </h2>
        <p>Walk me through the<br />
        inequities I don’t feel,<br />
        but hear on my streets,<br />
        see on my screens,<br />
        and ignore in history<br />
        “Just have your sisters fail,<br />
        brothers chained, and<br />
        kept down by centuries of<br />
        unjust,<br />
        unfair,<br />
        bullshit equality,<br />
        dreaming equity,<br />
        screaming equity,<br />
        needing equity now.”</p>

        <p>I’ve got to see<br />
        context of the<br />
        unequal to me,<br />
        forgot and unfree<br />
        Join in the seas<br />
        marching the streets<br />
        dismantling the history of<br />
        unjust,<br />
        unfair,<br />
        bullshit equality<br />
        dreaming equity<br />
        screaming equity<br />
        needing equity now</p>
      </section>

      <section class="credits center-h">
        <p>RECORDED, Mixed, and mastered by will killingsworth at <a target="_blank" href="http://deadairstudios.com/">deadair studios</a>.</p>
        <p>thanks to Will, Sam BBB, Trevor Vaughan, Abuse of Power, Faze, Glory, and anyone who has helped us out in some way.</p>
        <p>FREE is Austin Stemper, Kei Yasui, patrick flynn, ryan hudon, and shawn costa.</p>
        <p>Photography by <a target="_blank" href="http://www.reidhaithcock.com/">reid haithcock</a>.</p>
        <p>&copy; 2017</p>
      </section>
    </main>


    <!-- build:js scripts/main.min.js -->
    <script src="vendor/foreach/src/foreach.js"></script>
    <script src="vendor/classlist/classList.js"></script>
    <script src="vendor/velocity/velocity.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
